@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fullscreen">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-center mb-4">@ViewData["Title"]</h1>
            <hr class="my-4">
            <p class="text-center">Phillip's Privacy Policy for Electric Bill Booking</p>
            <div>
                <h5>Information Collection</h5>
                <p>We do not collect any personal information from users for this student project.</p>
            </div>
            <div>
                <h5>Data Usage</h5>
                <p>The data entered by users on this website is solely used for demonstration and testing purposes related to the Electric Bill Booking Student Project.</p>
            </div>
            <div>
                <h5>Data Security</h5>
                <p>We take reasonable measures to protect the data entered by users on this website. However, since this is a student project, we cannot guarantee complete security.</p>
            </div>
            <div>
                <h5>Cookies</h5>
                <p>This website does not use cookies.</p>
            </div>
            <div>
                <h5>Contact Us</h5>
                <p>If you have any questions or concerns, please contact us at [beboycabale@gmail.com].</p>
            </div>
        </div>
    </div>
</div>
</div>